<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.VIBRATE"/> <!-- 진동 권한 -->


    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM" /> <!-- 알람 권한 -->
    <uses-permission android:name="android.permission.WAKE_LOCK" /> <!-- 낮은 버전 알람 권한 -->
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" /> <!-- 알림 권한 -->
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" /> <!-- 다른 앱 위에 표시 권한 -->
    <uses-permission android:name="android.permission.REQUEST_IGNORE_BATTERY_OPTIMIZATIONS" /> <!-- 배터리 최적화 무시 권한 -->
    <uses-permission android:name="android.permission.READ_MEDIA_AUDIO" /> <!-- 미디어 파일 읽기 권한 (TIRAMISU 이상) -->
    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />

    <uses-permission android:name="android.permission.USE_FULL_SCREEN_INTENT" /> <!-- 전체 화면 -->


    <queries>
        <package android:name="com.google.android.gm" />
    </queries>

    <application
        android:name=".MyApp"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/alrem_logo_round"
        android:roundIcon="@mipmap/alrem_logo_round"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.ALREMSplashScreen"
        tools:targetApi="31">
        <activity
            android:name=".destination.DestinationAlarmActivity"
            android:showOnLockScreen="true"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.NoActionBar"/>
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:label="@string/app_name"
            android:theme="@style/Theme.ALREMSplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver
            android:name=".broadcastreceiver.AlarmReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.LOCKED_BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="${ADMOB_APP_ID}"/>

    </application>

</manifest>